@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans:wght@300&display=swap');

body {
    font-family: "SF Pro Text",-apple-system,Helvetica,Arial,"Segoe UI",Roboto,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bold;
    margin: 0%;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Open Sans';
}
.wardrobe-container {
    font-family: "SF Pro Text",-apple-system,Helvetica,Arial,"Segoe UI",Roboto,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: normal;
    margin: 0%;
    border-color: #e1e1e1;
}
.outfit-container {
    @extend .wardrobe-container;
}
a {
    text-decoration: none;
    text-decoration-color: #000000;
}
.nav-bar{
    font-family: "SF Pro Text",-apple-system,Helvetica,Arial,"Segoe UI",Roboto,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: normal;
    background-color: white;
    align-items: left;
    padding: 15px 16px 10px 16px;
    margin: 0px 0px 0px 0px;
    min-height: 35px;
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
    border-radius: 0px;
    text-decoration: none;
    display: inline-flex;
    justify-content: left;
    position: sticky;
    top: 0;
    z-index: 200;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 12px 0px 16px 20px;
    margin-right: 1%;
    font-size: 20px;
    font-weight: 2000;
    top: 0;
}
.waviy {
position: relative;

}
.waviy span {
position: relative;
display: inline-block;
font-size: 28px;
font-weight: 450;
color: black;
text-transform: uppercase;
animation: flip 7s infinite;
animation-delay: calc(.5s * var(--i))
}
@keyframes flip {
0%,80% {
    transform: rotateY(360deg) 
}
}
.sticky-outfit {
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: linear-gradient(to bottom, rgb(232, 230, 230), white);
    position: sticky;
    top: 61px;
    z-index: 100;
    box-shadow: none;
    transition: all 0.8s ease; /* Add a transition for the shadow */
}
.sticky-outfit.with-shadow {
    box-shadow: 0px 15px 12px rgba(0, 0, 0, .25); /* Add shadow to the bottom */
    border-color: white;
  }
.outfit-submit {
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
    border-color:#000000;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    width: 100%;
    max-width: 250px;
    margin: 0px 0px 9px 18px;
    padding: 1.5px;
}
.clothingBox {
    // height: ;
    
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    // actual Grailed color
    // border-bottom: 1px solid #e1e1e1;
    //darker for clearer division
    border-bottom: 1px solid #c3c3c3;
    border-radius: 0px;
}
.my-outfit {
    margin: 7px 0px 5px 18px;
    padding: 0rem .8rem;
    font-size: 16px;
    font-weight: 100;
    color: white;
    background-color: #000000;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    letter-spacing: .03em;
    line-height: 1.3;
    font-family: "Video",monospace;
    text-transform: uppercase;
}
.categoryHeaders {
    background: linear-gradient(to bottom, rgb(229, 228, 228), white);

    font-size: 20px;
    margin: 0px 0px 7px 0px;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 18px;
    font-weight: bold;
    display: flex;
    align-items: left;
}
.outfit-name-and-delete {
    margin: 0px 16px;
    padding: 0px;
    display: flex;
    max-width: 898px;
    width: 100%;
    text-overflow: ellipses;
    overflow: hidden;
    white-space: nowrap;
}
.user-input-field {
    margin-top: 7px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
}
.file-input {
    margin-top: 7px;
}
.add-item-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-right: 9.5px;
}
.outfit-names {
    
    //pink-cyan-gradient
    // background-color: #FC00FF;
    // background-image: linear-gradient(90deg, #FC00FF 15%, #00DBDE 35%, #ffffff 75%);

    //purple-gray-gradient
    background-color: #9000ff;
    background-image: linear-gradient(90deg, #9000ff 10%, #b7b7b7 23%, #ffffff 50%, #ffffff 100%);
    
    //lightgray-white-gradient
    // background-color: #b7b7b7;
    // background-image: linear-gradient(90deg, #b7b7b7 15%, #d8d8d8 32%, #ffffff 85%);

    //darkergray-white-gradient
    background-color: #a4a4a4;
    background-image: linear-gradient(90deg, #a4a4a4 15%, #d8d8d8 32%, #ffffff 85%);

    //veryLightCoolGray-White-Gradient
    // background-color: #d9dbde;
    // background-image: linear-gradient(90deg, #d9dbde 15%, #e0e0e0 32%, #ffffff 85%);


    //black-gray-white-gradient
    // background-color: #000000;
    // background-image: linear-gradient(90deg, #000000 10%, #b7b7b7 23%, #ffffff 50%, #ffffff 100%);

    text-transform: lowercase;
    display: block;
    flex: 1;
    font-size: 13px;
    font-weight: 100;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 0px;
    color:#ffffff;
    // color:#000000;
    // text-shadow:
        // -1px -1px 0 black, /* Top-left shadow */
        // 1px -1px 0 black, /* Top-right shadow */
        // -1px  1px 0 black, /* Bottom-left shadow */
        // 1px  1px 0 black; /* Bottom-right shadow */
}
.delete-item-button {
    color: red;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(255, 0, 0);
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 31px;
    margin-bottom: 2px;
    text-align: center;
    transition: background-color 250ms ease,border-color 250ms ease,color 250ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .03em;
    line-height: 1.3;
    font-family: "Video",monospace;
    text-transform: uppercase;
    &:hover {
        color: white; /* Text color becomes white when hovered */
        background-color: red; /* Background becomes black when hovered */
        border-color: white; /* Border color becomes white when hovered */
    }
}
.addItemHeaders {
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 0px;
}
.add-item-borders {
    margin: 8px 1px 0px 14px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
.yourClothing {
    padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.itemBox {
    position: relative;
    z-index: 1;
    width: 140px;
    // height: 220px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: #000000;
}
.add-item-container {
    display: inline-block;
    position: relative;
    z-index: 10;
}
.add-item-modal {
    position: absolute;
    top: 48px;
    left: -90px;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 16px;
    margin-right: 80%;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: black;
    background-color: white;
    // box-shadow: 0px 80px 1px rgba(0, 0, 0, 0.2); /* Horizontal offset, Vertical offset, Blur radius, Color */
    transition: all;
}
.select-list {
    margin-top: 0px;
    margin-right: 10px;
}
.item-details {
    font-size: 12px;
    margin: 5px 5px;
    text-transform: uppercase;
}
.designer-and-size {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    display: flex;
    width: 100%;
    text-overflow: ellipses;
    overflow: hidden;
    white-space: nowrap;

}
.item-brand {
    margin: 0px;
    display: block;
    flex: 1;
    font-size: 12px;
}
.item-size {
    margin: 0px;
    display: block;
    font-size: 12px;
}
.item-name {
    text-transform: capitalize;
    display: block;
    margin: 7px 0px;
    font-weight: 100;
    max-height: 2.4em;
    line-height: 1.2em;
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 1.4em;
    transition: all 0s ease-in-out;

    &:hover {
        font-weight: 400;
        text-decoration: underline;
        // cursor: pointer;
        cursor: context-menu;
        // cursor: text;
        // cursor: cell;
    }
}
.item-button-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // margin: 2px 2.5px;
}
.button {
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: .5px;
    text-align: center;
    transition: background-color 300ms ease,border-color 250ms ease,color 250ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .03em;
    line-height: 1.3;
    font-family: "Video",monospace;
    text-transform: uppercase;
}
.red-button {
    @extend .button;
    color: rgb(255, 0, 0);
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(255, 0, 0);
    margin: .5px;

    &:hover {
        color: white; /* Text color becomes white when hovered */
        background-color: red; /* Background becomes black when hovered */
        border-color: white; /* Border color becomes white when hovered */
    }
}
.black-button{
    @extend .button;
    color: black;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(0, 0, 0);

    &:hover {
        color: white; /* Text color becomes white when hovered */
        background-color: black; /* Background becomes black when hovered */
        border-color: white; /* Border color becomes white when hovered */
    }
}
.green-button{
    @extend .button;
    color: black;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(0, 0, 0);

    &:hover {
        color: black; /* Text color becomes white when hovered */
        background-color: rgb(98, 255, 0);/* Background becomes black when hovered */
        border-color: black; /* Border color becomes white when hovered */
    }
}
.image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 150px;
    width: auto;
    // min-height: 0px;
    // max-height: 500px;
    overflow: hidden;
    padding-top: 0%;
    position: relative;
    transition: width .2s linear,height .2s linear;
    background-color: var(--colors--off-white-background);
}
.image-content {
max-width: 100%;
max-height: 100%;
}
.add-item-button {
    @extend .black-button;
    padding: 10px;
    font-size: 18px;
    z-index: 5;
}
.header-button {
    @extend .black-button;
    font-family: "SF Pro Text",-apple-system,Helvetica,Arial,"Segoe UI",Roboto,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    border: none;
    font-size: 18px;
    padding: 0px 10px;
    margin: 4px 10px 5px 10px;
    position: relative;
    z-index: 19;
    &:hover span {
        animation-name: flip;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        // animation-delay: 0s;
        animation-delay: calc(0s + (.1s * var(--i)));
        animation-play-state: alternate;
    }
}

.login-buttons-div {
    display: inline-block;
    justify-content: right;
    font-size: 10px;
}
.nav-bar-buttons-div {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.clicked-button {
    @extend .header-button;
    color: white;
    background-color: black;
    border-color: white;
    position: relative;
    z-index: 90;

    span {
        animation-name: flip;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        // animation-delay: 0s;
        animation-delay: calc(0s + (.1s * var(--i)));
        animation-play-state: alternate;
    }
}
.header-button-alt {
    @extend .header-button;
    &:hover span {
        animation-name: flip;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        // animation-delay: 0s;
        animation-delay: calc(0s + (.1s * var(--i)));
        animation-play-state: alternate;
    }
}

@keyframes flip {
    0%,50% {
        transform: rotateY(360deg) 
    }
}

.alert {
    font-family: "SF Pro Text",-apple-system,Helvetica,Arial,"Segoe UI",Roboto,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 100;
    position: fixed;
    left: 30%;
    bottom: 0;
    width: 40%;
    text-align: center;
    padding: 4px;
    color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    z-index: 3000;
    transition: all 250ms linear .2s;
}
.alert-red {
    @extend .alert;
    color: red;
    border-color: red;
}
.alert-green {
    @extend .alert;
    color: green;
    border-color: green;
}
.alert.hidden {
    z-index: 0;
    opacity: 0;
    transition: all 250ms linear 4s;
}
.edit-item-modal {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    color: white;
    position: absolute;
    z-index: 3;
    opacity: 1;
    height: 225px;
    // transition: opacity 0.5s ease-in-out;
}
.edit-item-input-div {
    margin-top: 107px;
    padding: 0px;
}
.edit-category-select-list {
    color: grey;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    margin-bottom: 3px;
    width: 90px;
}
.edit-color-select-list {
    @extend .edit-category-select-list;
}

.edit-brand-field {
    padding-left: 2px;
    margin-bottom: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    height: 15px;
    width: 90px;
}
.edit-size-select-list {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    color: grey;
    margin-top: 0px;
    margin-left: 8.5px;
    height: 19px;
    padding: 0px;
    width: 30px;
}
.edit-name-field {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    margin-top: 2px;
    width: 128px;
    height: 15px;
}
.edit-item-borders {
    margin-left: 0px;
    padding: 3px;

}
.update-item-button {
    @extend .green-button;
    background-color: white;
    margin-top: 5px;
    // margin-bottom: .5px;
    width: 134px;
    height: 19.3px;
    padding: 1px;
}
.exit-edit-button {
    @extend .red-button;
    color: red;
    border-color: red;
}

.footer-div {
    display: block;
    justify-content: space-between;
    text-align: center;
    margin: 40px;
    font-family: "SF Pro Text",-apple-system,Helvetica,Arial,"Segoe UI",Roboto,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.footer-copyright {
    align-items: center;
    text-align: right;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
}

.sort-by-select-list {
    @extend .select-list;
    margin: 3px 0px 0px 3px;
    height: 21px;
}

.drawer-filters {
    font-size: 14px;
    margin: 5px 0px 0px 20px;
    font-weight: normal;
    display: flex;
}

.randomize-outfit-button {
    @extend .black-button;
    height: 21px;
    font-size: 14px;
}

.randomize-outfit-button:hover{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    animation:slidebg 2s linear infinite;
  }
@keyframes slidebg {
    to {
    background-position:19vw;
    }
}
.clear-outfit-button {
    @extend .red-button;
    height: 21px;
    font-size: 14px;
    margin-left: 66px;
}
.lock-item-div {
    display: flex;
    border: none;
    border-color: white;
    border-width: 1px;
    margin-left: 17px;
}

.locked-item-button {
    @extend .black-button;
    color: white;
    background-color: #000000;
    border-color: white; 
    // margin: 0px;
    margin-top: 4px;
}
.unlocked-item-button {
    @extend .black-button;
    margin-top: 4px;
}
.lock-emoji {
    padding-bottom: 2px;
    margin-bottom: 4px;
    font-size: 14px;
}

.outfit-footer {
    display: flex;
    justify-content: space-between;
}
.full-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust color and opacity as needed */
    z-index: 3; /* Adjust the z-index to ensure it's above other content */
    pointer-events: none; /* Allows clicks to pass through the shadow */
}

.my-closet-logo-div {
    min-width: 170px;
}
.my-outfits-logo-div {
    min-width: 170px;
}
.header-login-button {
    @extend .header-button;
    font-size: 14px;
}
.filter-modal {
    position: relative;
    background-color: none;
    // box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    // border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding: 0px 20px 10px 10px;
    z-index: 2;
    left: 3px;
    top: 3px;
    font-size: 10px;
    display: flex;
}
.filter-category-div {
    display: flex;
    margin: -10px 10px 0px 0px;
}
.size-and-subtype-filter-div {

}
.filter-checklist {
    padding: 0px 10px 0px 0px;
    // border-style: solid;
    border-left: 1px solid;
    border-color: rgb(214, 214, 214);
    margin: 10px 10px 0px 4px;
    list-style: none;
    font-size: 13px;
    font-weight: 100;
}
.show-filter-button {
    font-size: 14px;
    height: 21px;
    margin-top: 3px;
    margin-left: 15px;
    padding: -10px 1px 1px 1px;
}
.apply-filter-button {
    width: 59px;
    height: 30px;
    position: relative;
    top: 15px;
    margin: 12px 0px 0px 0px;
    font-size: 11px;
}
.filter-name {
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: normal;
}